<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto"
	android:versionCode="1"
	android:versionName="1.0"
	package="com.shibadev.Atune">

	<uses-permission android:name="android.permission.INTERNET" />
	
	<!-- Для API 30+ (если требуется доступ ко всему хранилищу) -->
	<!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->

	<application
		android:label="Atune"
		android:icon="@drawable/Icon"
		android:requestLegacyExternalStorage="true">
	</application>

</manifest>
