<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto"
	android:versionCode="1"
	android:versionName="1.0"
	package="com.shibadev.Atune">

	<uses-permission android:name="android.permission.INTERNET" />
	
	<!-- Разрешения для доступа ко всему хранилищу (Android 11+) -->
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	
	<!-- Разрешения для Android 13+ -->
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	
	<!-- Для обратной совместимости с версиями ниже Android 13 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />

	<!-- Дополнительные разрешения взятые из Auxio -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
		android:label="Atune"
		android:icon="@drawable/Icon"
		android:requestLegacyExternalStorage="true"
		android:preserveLegacyExternalStorage="true">
	</application>

</manifest>
